{% load static %}
<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">    
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" media="screen">
    </head>
    <body>    
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url "Notas:notas_index" %}">
                <img src="https://thumbs.dreamstime.com/b/icono-de-l%C3%ADnea-notificaci%C3%B3n-usuario-se%C3%B1al-recordatorio-timbre-alarma-vector-s%C3%ADmbolo-alerta-mensaje-elemento-dise%C3%B1o-calidad-205469065.jpg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                {{titulo}}
                </a>
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "Notas:nuevo" %}">Nuevo [+]</a>
                    </li>
                </ul>
            </div>
        </nav>
        {% block contenedor %}
        <main>
                <h7>Todas Las Notas De Hoy: {{fecha}}</h7>
                <hr>
                <div class="listado overflow-auto">
                    <ul>
                        {% for tarea in lista %}
                        <form class="d-flex justify-content-center w-100" action = "{% url "Notas:confimar_tarea"   tarea.id %}" method='POST'>
                            {% csrf_token %}
                            <li class="w-75"><span class="text-primary">{{tarea.nombre}}</span>: <span class="text-secondary">{{tarea.descripcion}}</span></li> 
                            
                            <button type="submit" class="btn btn-success mb-3 d-flex justify-content-end">Listo</button>    
                        </form>
                        {% endfor %}
                        
                    </ul>
                </div>
        </main>
        {% endblock contenedor %}
        <script src="" async defer></script>
    </body>
</html>